:root {
  --sidebar-width: 20%;
}

@media (min-width: 300px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 600px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media (min-width: 800px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-item {
    grid-column: span 1;
    grid-row: span 1;
    margin: 0;
    padding: 5px;
    border: 0;
}

.grid-img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sidebar {
  width: var(--sidebar-width);
  background-color: lightgrey;
}

.main-view {
  margin-left: var(--sidebar-width);
}

figure.menu-logo {
  text-align: center;
  margin: 5px;
}

figure.menu-logo > img {
  width: 50%;
}